.profile-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(233, 234, 237);
}

.profile-content {
  margin-left: 280px;
  width: calc(100% - 280px);
  height: 100vh;
  overflow-y: auto;
}

.navbar-profile-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  z-index: 100;
}

.profile-naaav {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  height: 73px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.yasar {
  line-height: 4px;
}
.yamin {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.monprofile {
  font-weight: lighter;
  font-size: 19px;
  font-family: sans-serif;
}
.morinfo {
  font-size: 15px;
  color: rgb(172, 180, 193);
}

.profile-content > div:first-child {
  position: sticky;
  top: 0;
  z-index: 120;
  background: #fff;
}
.mode {
  border: 1px solid rgb(172, 180, 193);
  padding: 10px 20px;
  background: none;
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;
}
.mode:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-logout {
  border: none;
  padding: 10px 20px;
  background: #ef4444;
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;
}
.btn-logout:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #dc2626;
}
.modifier {
  border: none;
  padding: 10px 20px;
  background: rgb(6, 99, 41);
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;
}
.modifier:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgb(4, 120, 30);
}
.quelques-infos {
  height: 125px;
  width: 1099px;
  background: white;
  border-radius: 15px;
  margin: auto;
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: flex-start
}
.gauche{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.profile-pic{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
  /* margin-top: 20px; */

}
.nom-status{
  display: flex;
  flex-direction:row;
  gap: 5px;
}
